body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #170D02;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 90px;
    z-index: 1;
}

header .half-circle {
    position: absolute;
    width: 110px;
    height: 75px;
    background-color: #442f29;
    border-radius: 0 0 50% 50%;
    -webkit-border-radius: 0 0 50% 50%;
    -moz-border-radius: 0 0 50% 50%;
    -ms-border-radius: 0 0 50% 50%;
    -o-border-radius: 0 0 50% 50%;
}


.bx-arrow-back {
    color: white;
    z-index: 2;
    position: absolute;
    top: 2%;
    left: 4%;
    font-size: 2em;
}


.container-conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;

}

h1 {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    font-family: 'Kanit' sans-serif;
    color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.txt-modo-uso {
    margin: 20px;
    max-width: 80%;
    font-size: 1em;
    font-weight: 400;
    font-family: arial,sans-serif;
    letter-spacing: 2px;
    line-height: 32px;
    /* background-color: #442f29; */
    padding: 10px;
    color: #FFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img-uso {
    width: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    margin: 10px;
}

footer{
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #FFF;
    font-size: 0.8em;
}


.cidades {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 55vh;

    gap: 10px;

}

.cidades a {
    width: 250px;
    height: 50px;
    background-color: #442F29;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bxs-store-alt {
    font-size: 20px;
    margin-right: 5px;
}