.cidades {
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;

    gap: 10px;
}


.card-local {
    width: 90%;

    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 10px;
}

.nome-local {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    background-color: #442f29;
    color: white;
    height: 55px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;

    font-size: 0.8em;
}

.nome-local span {
    text-transform: uppercase;
    font-size: 1.2em;
}

.img-local{
    width: 90%;
    height: 350px;
}

.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: #009400;
    height: 35px;
    
    font-weight: 600;

    font-size: 1em;

    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.295);
}

.contato a {
    text-decoration: none;
    color: inherit;
}

.rotas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    text-decoration: none;
    width: 90%;
    background-color: #009400;
    color: white;
    height: 45px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;

    font-size: 1.3em;
}

