body {
    background-color: #170D02;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Ubuntu', sans-serif;
}



main {
    background-color: #170D02;
    width: 680px;
    height: 100vh;
    min-height: 630px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr 100px;

    grid-template-areas: "titulo"
                         "buttons"
                         "last";
}

.logo {
    grid-area: titulo;
    align-self: flex-end;
    justify-self: center;
    width: 225px;
}

.buttons {
    grid-area: buttons;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.buttons a {
    width: 300px;
    height: 50px;
    background-color: #442f29;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    display:flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-weight: 500;
    text-decoration: none;
    /* text-transform: uppercase; */
}

.buttons a:hover{
    transition: 0.3s linear;
    background-color: #009400;
    color: #FFFFFF;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

#olx {
    background-color:#6D0AD6;
}

.img-olx{
    width: 50px;
}

.valido {

    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 0.7em;
}

main .p {   
    grid-area: last;
    font-family: arial,sans-serif;
    justify-self: center;
    align-self:center;
    color: #FFFF;
    font-weight: 600;
    font-size: 12px;
}

.bxs-store-alt {
    font-size: 20px;
    margin-right: 5px;
}